body{
    background-color: rgb(0, 255, 242);
    min-height: 100vh;
}



h1{
    color: blue;
    font-size: 80px;
}


button{
    color: white;
    font-size: 30px;
    width: 150;
    height: 50px;
}


#take{
    background-color: red;
}

#add{
    background-color: green;
}

